<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books & Authors</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <div class="container p-5">
        <h1>{{identifiedAuthor.first_name}} {{identifiedAuthor.last_name}}</h1>
        <p>ID: {{identifiedAuthor.id}}</p>
        <div class="row">
            <p class="col-3">Notes: </p>
            <p class="col">{{ identifiedAuthor.notes }}</p>
        </div>

        <p>Books: </p>
        <ul>
            {% for book in identifiedAuthor.book.all %}
            <li>{{book.title}}</li>
            {% endfor %}
        </ul>

        <form action="/addBookToAuthor/{{identifiedAuthor.id}}" method="POST">
            {% csrf_token %}
            <select name="bookInfo" class="col-4">
                <option value="">-select a book-</option>
                {% for book in otherBooks %}
                <option value="{{book.id}}">{{book.title}}</option>
                {% endfor %}
            </select>   
            <input type="hidden" value="bookInfo" value="{{identifiedBook.id}}">
            <input type="submit" value="Add Book">
        </form>

    </div>
</body>
</html>