<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books & Authors</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <div class="container p-5">
        <h1>{{identifiedBook.title}}</h1>
        <p>ID: {{identifiedBook.id}}</p>
        <div class="row">
            <p class="col-3">Description: </p>
            <p class="col">{{ identifiedBook.desc }}</p>
        </div>

        <p>Authors: </p>
        <ul>
            {% for author in identifiedBook.authors.all %}
            <li>{{author.first_name}} {{author.last_name}}</li>
            {% endfor %}
        </ul>

        <form action="/addAuthorToBook/{{identifiedBook.id}}" method="POST">
            {% csrf_token %}
            <select name="authorInfo" id="">
                {% for author }
            </select>
        </form>

    </div>
</body>
</html>