* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#wrapper{
    width: 90%;
    margin: 0 auto;
}

.row-odd, .row-even {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.box1, .box2 {
    height: 10rem;
    width: 10rem;
}

.box1 {
    background-color: red;
}

.box2 {
    background-color: black; 
}

