<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <h1 class="text-center">All Users</h1>
        <table class="table table-striped text-center">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Age</th>
                </tr>
            </thead>
            <tbody>
                {% for user in all_users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.first_name }} {{ user.last_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.age }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="section container border-top mt-5 pt-3">
            <h1 class="text-center">Add a User</h1>
            <!-- Start Form -->
            <form action="/update" method="POST">
                {% csrf_token %}
                <div class="form-group row text-center">
                    <p class="col-1"></p>
                    <label for="inputFirstName" class="col-form-label col-2">First Name</label>
                    <input class="col-3" type="text" name="first_name" placeholder="First Name">
                    <label for="inputLastName" class="col-form-label col-2">Last Name</label>
                    <input class="col-3" type="text" name="last_name" placeholder="Last Name">
                    <p class="col-1"></p>
                </div>
                <div class="form-group row text-center">
                    <p class="col-1"></p>
                    <label for="inputEmail" class="col-form-label col-2">Email</label>
                    <input class="col-3" type="email" name="email" placeholder="Email">
                    <label for="inputAge" class="col-form-label col-2">Age</label>
                    <input class="col-3" type="text" name="age" placeholder="Age">
                    <p class="col-1"></p>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>

        </div>
    </div>
</body>
</html>