<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
</head>
<body>
    <h1>Counter</h1>
    <form action="/add">
        {% if request.session.counter == 1 %}
            <p>{{ request.session.counter }} time.</p>
        {% else %}
            <p>{{ request.session.counter }} times.</p>
        {% endif %}
        <button type="submit">+2</button>
    </form>
    <form action="/destroy">
        <button type="submit">Reset</button>
    </form>
</body>
</html>