<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Registration</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">  

</head>
<body>
    <h1 class="text-center">Welcome</h1>
    <div class="container">
        <div class="row">
            <div class="register border col-5">
                <h2>Register</h2>
                <form action="/register" method="POST">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="name" class="col-form-label col-3">Name</label>
                        <div class="col">
                            <input type="text" name="name" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="username" class="col-form-label col-3">Username</label>
                        <div class="col">
                            <input type="text" name="username" class="form-control"></input>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="password" class="col-form-label col-3">Password</label>
                        <div class="col">
                            <input type="password" name="password" class="form-control"></input>
                        </div>
                    </div>
                    * Password should be at least 8 characters
                    <div class="form-group row">
                        <label for="confirmPassword" class="col-form-label col-3">Confirm Password</label>
                        <div class="col">
                            <input type="password" name="confirmPassword" class="form-control"></input>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="date-hired" class="col-form-label col-3">Date Hired</label>
                        <div class="col">
                            <input type="date" name="date-hired" class="form-control"></input>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col offset-9">
                            <button id="submitBook" type="submit" class="btn btn-primary">Register</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-1"></div>
            <div class="login border col-5">
                <h2>Login</h2>
                <form action="/login" method="POST">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="usernameLogin" class="col-form-label col-3">Username</label>
                        <div class="col">
                            <input type="text" name="usernameLogin" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="passwordLogin" class="col-form-label col-3">Password</label>
                        <div class="col">
                            <input type="password" name="passwordLogin" class="form-control"></input>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10 offset-9">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="errors offset-4 mt-3">
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{message}}</li>
                {% endfor%}
            </ul>
            {% endif %}
        </div>
    </div>
</body>
</html>