* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: purple;
}

#wrapper {
    width: 90%;
    margin: auto; 
    border: 1px solid black; 
}


button {
    align-self: flex-end;
}